/* Testimonial.css */

.custom-prev-arrow,
.custom-next-arrow {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    /* Background color */
    color: #fff;
    /* Arrow icon color */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999999999;
}

.custom-prev-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-next-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}