@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Apply the animation to the slider */
  .infinite-slider {
    display: flex;
    animation: slide infinite;
    white-space: nowrap;
  }
  /* Card.css */
  
  .perspective {
  perspective: 1000px;
  }
  
  .card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  }
  
  .card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  }
  
  .card-front {
  background: #ffffff;
  }
  
  .card-back {
  background: #2e5090;
  transform: rotateY(180deg);
  }
  
  .perspective:hover .card-inner {
  transform: rotateY(180deg);
  }