/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

body {
    @apply font-sans;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or any custom CSS file */
